<h1>Editing Post</h1>

<form action="<%= post_url(@post) %>" method="post">
    <%= auth_token %>
    <input type='hidden' name='_method' value='patch'>

    <label> Title:
        <input type='text' name='post[title]' value='<%= @post.title %>'>
    </label>
    <br>
    <label> Content:
        <input type='text' name='post[content]' value='<%= @post.content %>'>
    </label>
    <input type='submit' value='Make Changes'>
</form>

