<li><a href="<%= sub_url(@post.sub_id) %>">Back to Sub</a></li>

<ul>
    <li><%= @post.title %></li>
    <li><%= @post.content %></li>
    <li><a href="<%= edit_post_url(@post) %>">Edit Post</a></li>
</ul>
